@import "../valo/valo";
@import "common";
@import "views/windowhistoryrepair";

// Optimize the CSS output
//$v-included-components: remove($v-included-components, accordion);
//$v-included-components: remove($v-included-components, colorpicker);
//$v-included-components: remove($v-included-components, grid);
//$v-included-components: remove($v-included-components, popupview);
//$v-included-components: remove($v-included-components, progressbar);
//$v-included-components: remove($v-included-components, slider);
//$v-included-components: remove($v-included-components, splitpanel);
//$v-included-components: remove($v-included-components, tree);
//$v-included-components: remove($v-included-components, treetable);
//$v-included-components: remove($v-included-components, twincolselect);

// Main layout padding
//$view-padding: round($v-unit-size / 1.5) !default;

// Slight adjustment to menu background-color
//$valo-menu-background-color: #414B56;

@mixin service99crm {
  @include valo;
  @include service99crm-common;
  @include service99crm-windowhistoryrepair-view;
}